{% extends "app_zs_admin\base.html" %}
{% load static %}
{% load l10n %}



<!-- APP CSS -->
{% block css %}
<link href="{% static 'accounts/origin/css/registration_base.css' %}" rel="stylesheet">
{% endblock css %}
<!-- APP VENDOR CSS -->
{% block vendor_css %}
{% endblock vendor_css %}

{% block container_main_bg_color %}
style="background-color: transparent;"
{% endblock container_main_bg_color %}

{% block container_main_content %}
<div class="registration-container">
	<div class="wrapper">
		{% block signup %}
		{% endblock %}

		{% block login %}
		{% endblock %}

		{% block password_reset %}
		{% endblock %}
	</div>
</div>
{% endblock container_main_content %}
<!-- APP JS -->
{% block js %}
<script src="{% static 'accounts/origin/js/registration_base.js'%}"></script>
{% endblock js %}
<!-- APP VENDOR JS -->
{% block vendor_js %}
{% endblock vendor_js %}
