{% extends "registration\base.html" %}


{% block login %}
<form class="form" method="post" action="">
  {% csrf_token %}

  <div class="header">
    <div class="brand-block">
        {% block header_section_left_brand_details %}
        <a href="/" class="logo" title="zs_admin">
            <img src="{% block brand_details_logo_url %}/static/app_zs_admin/origin/res/img/logo.png{% endblock brand_details_logo_url %}" class="brand-logo" style="zoom: {% block header_section_left_brand_details_logo_zoom %}1{% endblock header_section_left_brand_details_logo_zoom %}">
            <span style="color:{% block header_section_left_brand_details_title_color %}#333{% endblock header_section_left_brand_details_title_color %}">{% block header_section_left_brand_details_title %}DjangoAnalytics{% endblock header_section_left_brand_details_title %}</span>
        </a>
        {% endblock header_section_left_brand_details %}
    </div>
    <div class="login-header">Вход</div>
  </div>

  {% if user.is_authenticated %}
  <div class="form-controls">
    <div class="form_notification active">
      <div class="message-text info bgblue">У вашей учётной записи отстуствую права доступа к данной странице: {{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ next }}</div>
    </div>
  </div>
  <button type="submit" class="submit" value="Выйти"><a href="{% url 'logout' %}">выйти?</a></button>
  {% else %}
  <div class="input-container">
    <input id="username" class="input" type="text" name="username" autocomplete="username" autocapitalize="none" placeholder=" " required />
    <div class="cut"></div>
    <label for="username" class="placeholder">Логин</label>
  </div>
  <div class="input-container">
    <input id="password" class="input" type="password" name="password" autocomplete="current-password" placeholder=" " required/>
    <div class="cut"></div>
    <label for="password" class="placeholder">Пароль</label>
  </div>

  <div class="form-controls">
    <div class="form_notification {% if form.errors or next and not user.is_authenticated %}active{% endif %}">
        {% spaceless %}
        {% if form.errors %}
        <div class="message-text">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              {{error}}
            {% endfor %}
          {% endfor %}
        </div>
        {% endif %}

        {% if next %}
        <div class="message-text info">
          {% if user.is_authenticated %}
            <p>У вашей учётной записи отстуствую права доступа к данной странице.
          please login with an account that has access.</p>
          {% else %}
            <div>Необходимо выполнить авторизацию, чтобы увидеть эту странцу: <div>{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ next }}</div></div>
          {% endif %}
        </div>
        {% endif %}
        {% endspaceless %}
    </div>

    <button type="submit" class="submit" value="Вход">войти</button>

    <small class="password_reset">
      <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </small>
    
    <small class="signup">
      <div>Ещё нет аккаунта?</div>
      <a href="{% url 'signup' %}"><div>Зарегистрируйтесь</div></a>
    </small>

    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% endif %}
</form>
{% endblock %}
