{% extends "registration\base.html" %}


{% block header %}{{ block.super }}{% endblock header %}
{% block login_header %}Вход{% endblock login_header %}

{% block login_container %}
{% csrf_token %}

{% if user.is_authenticated %}
  <div class="form-controls">
    <div class="form_notification active">
      <div class="message-text info bgblue">ВЫ уже авторизованы.</div>
    </div>
  </div>
  <button type="submit" class="submit" value="Выйти">
    <a href="{% url 'logout' %}">выйти?</a>
  </button>
{% else %}

  {% for field in form %}
    {% if field.name == 'username' %}
    <div class="input-container">
      <input  id="id_username" class="input" type="text" name="username" maxlength="150" autocapitalize="none" placeholder=" " required />
      {% if field.help_text %}
        <div class="input_help_info">{{ field.help_text }}</div>
      {% endif %}
      {% for error in field.errors %}
        <div class="input_help_info error">{{ error }}</div>
      {% endfor %}
      <div class="cut"></div>
      <label for="id_username" class="placeholder">Логин</label>
    </div>
    {% endif %}
  {% endfor %}

  {% for field in form %}
    {% if field.name == 'password' %}
    <div class="input-container">
      <input id="id_password" class="input" type="password" name="password" autocomplete="current-password" placeholder=" " required/>
      {% if field.help_text %}
        <div class="input_help_info">{{ field.help_text }}</div>
      {% endif %}
      {% for error in field.errors %}
        <div class="input_help_info error">{{ error }}</div>
      {% endfor %}
      <div class="cut"></div>
      <label for="id_password" class="placeholder">Пароль</label>
    </div>
    {% endif %}
  {% endfor %}

  <div class="form-controls">
    <div class="form_notification {% if form.errors or next and not user.is_authenticated %}active{% endif %}">
        {% spaceless %}
        {% if form.errors %}
        <div class="message-text">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              {{error}}
            {% endfor %}
          {% endfor %}
        </div>
        {% endif %}

        {% if next %}
        <div class="message-text info bgblue">
          {% if user.is_authenticated %}
            <p>У вашей учётной записи отстуствую права доступа к данной странице.
          please login with an account that has access.</p>
          {% else %}
            <div>Необходимо выполнить авторизацию, чтобы увидеть эту странцу: <div>{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ next }}</div></div>
          {% endif %}
        </div>
        {% endif %}
        {% endspaceless %}
    </div>

    <button type="submit" class="submit" value="Вход">войти</button>
  {% if 1 == 2 %}
    <small class="password_reset">
      <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </small>
    
    <small class="signup">
      <div>Ещё нет аккаунта?</div>
      <a href="{% url 'signup' %}"><div>Зарегистрируйтесь</div></a>
    </small>

    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% endif %}
{% endif %}

{% endblock login_container %}
