{% extends "registration\base.html" %}

{% block registration %}

<div class="row justify-content-center align-items-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-body">

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}

          <div class="form-group">
            {{ form.username.label_tag }}
            <div class="input-group mb-2">
              <span class="input-group-addon">
                <i class="">
                  <img draggable="false" src="/static/registration/origin/res/log.png">
                </i>
              </span>
              <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
            </div>
          </div>

          <div class="form-group">
            {{ form.password.label_tag }}
            <div class="input-group mb-2">
              <span class="input-group-addon">
                <i class="">
                  <img draggable="false" src="/static/registration/origin/res/psw.png">
                </i>
              </span>
              <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password">
            </div>
          </div>

          <input type="submit" value="Вход" class="btn btn-primary btn-block"/>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>

      </div>
        <div class="card-footer text-muted text-center">
          <small>Новый пользователь?
            <a href="{% url 'signup' %}">Регистрация</a>
          </small>
      </div>
    </div>
    <div class="text-center py-2 text-white d-flex flex-column ">

      {% if form.errors %}
        <p>Имя пользователя или пароль некорректны. Пожалуйста, попробуйте еще раз.</p>
        {# Assumes you setup the password_reset view in your URLconf #}
        <small>
          <a href="{% url 'password_reset' %}" class="mod1 text-important">Забыли пароль?</a>
        </small>
      {% else %}
      {% endif %}

    </div>
  </div>
</div>





{% if 1 == 2 %}

{% if user.is_authenticated %}
  <p>logged in as {{ user }}</p>
  <p><a href="{% url 'logout' %}?next=/accounts/login">logout</a></p>
{% else %}
  <p>Welcome, new user. Please log in:</p>
{% endif %}



{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>

  <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endif %}





{% endblock %}
