{% extends "registration\base.html" %}


{% block header %}{{ block.super }}{% endblock header %}
{% block login_header %}Восстановление пароля{% endblock login_header %}

{% block password_reset_container %}
{% csrf_token %}

{% if user.is_authenticated %}
  <div class="form-controls">
    <div class="form_notification active">
      <div class="message-text info bgblue">ВЫ уже авторизованы.</div>
    </div>
  </div>
  <button type="submit" class="submit" value="Выйти">
    <a href="{% url 'logout' %}">выйти?</a>
  </button>
{% else %}

  <div class="input-container">
    <input id="email" class="input" type="text" name="email" autocomplete="email" autocapitalize="none" placeholder=" " required />
    <div class="cut"></div>
    <label for="email" class="placeholder">E-mail</label>
  </div>

  <div class="form-controls">
    <div class="form_notification {% if form.errors %}active{% endif %}">
        {% spaceless %}
        {% if form.errors %}
        <div class="message-text">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              {{error}}
            {% endfor %}
          {% endfor %}
        </div>
        {% endif %}
        {% endspaceless %}
    </div>

    <button type="submit" class="submit" value="Вход">Отправить</button>
    <div class="registration_links">
      <small class="password_reset">
        <a href="{% url 'login' %}">Войти</a>
      </small>
      
      <small class="signup">
        <div>или</div>
        <a href="{% url 'signup' %}"><div>зарегистрироваться</div></a>
      </small>
    </div>

  </div>
{% endif %}

{% endblock password_reset_container %}
