{% extends 'registration\base.html' %}


{% block password_reset %}
<form class="form" method="post" action="" novalidate>
  {% csrf_token %}
  
  <div class="header">
    <div class="brand-block">
        {% block header_section_left_brand_details %}
        <a href="/" class="logo" title="zs_admin">
            <img src="{% block brand_details_logo_url %}/static/app_zs_admin/origin/res/img/logo.png{% endblock brand_details_logo_url %}" class="brand-logo" style="zoom: {% block header_section_left_brand_details_logo_zoom %}1{% endblock header_section_left_brand_details_logo_zoom %}">
            <span style="color:{% block header_section_left_brand_details_title_color %}#333{% endblock header_section_left_brand_details_title_color %}">{% block header_section_left_brand_details_title %}DjangoAnalytics{% endblock header_section_left_brand_details_title %}</span>
        </a>
        {% endblock header_section_left_brand_details %}
    </div>
    <div class="login-header">Восстановление пароля</div>
  </div>

  <div class="form-controls">
    <div class="form_notification active">
        <div class="message-text info" style="background-color: #0baf00;">Проверьте вашу почту, вам была выслана ссылка для смены пароля.</div>
    </div>

    <small class="password_reset">
      <a href="{% url 'login' %}" style="font-size: 12px;text-decoration: underline;">Войти</a>
    </small>

  </div>

</form>
{% endblock %}
