{% extends "registration\base.html" %}


{% block header %}{{ block.super }}{% endblock header %}
{% block login_header %}Восстановление пароля{% endblock login_header %}

{% block password_reset_container %}
{% csrf_token %}


  <div class="form-controls">
    <div class="form_notification active">
        <div class="message-text info" style="background-color: #0baf00;">Проверьте вашу почту, вам была выслана ссылка для смены пароля.</div>
    </div>

    <small class="submit">
      <a href="{% url 'login' %}">Войти</a>
    </small>

  </div>

{% endblock password_reset_container %}
