{% extends 'registration/BASE_registration.html' %}

{% block title %}Изменить пароль{% endblock %}

{% block stylesheet %}
  <style type="text/css">
    .changepassword {
      background-color: #656565;;
    }
  </style>
{% endblock %}

{% block changepassword %}
<div class="row justify-content-center changepassword">
  <div class="col-lg-6 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">
          <center>
            <h2>
              Изменить пароль
            </h2>
          </center>
        </h4>

        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'registration/form.html' %}
          <button type="submit" class="btn btn-success">Изменить пароль</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
