{% extends 'registration\base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load form_tags %}


{% block signup %}
<form class="form" method="post" action="" novalidate>
  {% csrf_token %}

  <div class="header">
    <div class="brand-block">
        {% block header_section_left_brand_details %}
        <a href="/" class="logo" title="zs_admin">
            <img src="{% block brand_details_logo_url %}/static/app_zs_admin/origin/res/img/logo.png{% endblock brand_details_logo_url %}" class="brand-logo" style="zoom: {% block header_section_left_brand_details_logo_zoom %}1{% endblock header_section_left_brand_details_logo_zoom %}">
            <span style="color:{% block header_section_left_brand_details_title_color %}#333{% endblock header_section_left_brand_details_title_color %}">{% block header_section_left_brand_details_title %}DjangoAnalytics{% endblock header_section_left_brand_details_title %}</span>
        </a>
        {% endblock header_section_left_brand_details %}
    </div>
    <div class="login-header">Регистрация</div>
  </div>



    {% for field in form %}
      {% if field.name == 'email' %}
      <div class="input-container">
        <input id="id_email" class="input" type="email" name="email" maxlength="350" autocomplete="email" autocapitalize="none" placeholder=" " required />
        {% if field.help_text %}
          <div class="input_help_info">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
          <div class="input_help_info error">{{ error }}</div>
        {% endfor %}
        <div class="cut"></div>
        <label for="id_email" class="placeholder">E-mail</label>
      </div>
      {% endif %}
    {% endfor %}


    {% for field in form %}
      {% if field.name == 'username' %}
      <div class="input-container">
        <input  id="id_username" class="input" type="text" name="username" maxlength="150" autocapitalize="none" placeholder=" " required />
        {% if field.help_text %}
          <div class="input_help_info">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
          <div class="input_help_info error">{{ error }}</div>
        {% endfor %}
        <div class="cut width"></div>
        <label for="id_username" class="placeholder">Имя пользователя</label>
      </div>
      {% endif %}
    {% endfor %}


    {% for field in form %}
      {% if field.name == 'password1' %}
      <div class="input-container">
        <input id="id_password1" class="input" type="password" name="password1" autocomplete="new-password" placeholder=" " required/>
        {% if field.help_text %}
          <div class="input_help_info">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
          <div class="input_help_info error">{{ error }}</div>
        {% endfor %}
        <div class="cut"></div>
        <label for="id_password1" class="placeholder">Пароль</label>
      </div>
      {% endif %}
    {% endfor %}


    {% for field in form %}
      {% if field.name == 'password2' %}
      <div class="input-container">
        <input id="id_password2" class="input" type="password" name="password2" autocomplete="new-password" placeholder=" " required/>
        {% if field.help_text %}
          <div class="input_help_info">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
          <div class="input_help_info error">{{ error }}</div>
        {% endfor %}
        <div class="cut width"></div>
        <label for="id_password2" class="placeholder">Пароль ещё раз</label>
      </div>
      {% endif %}
    {% endfor %}

  <button type="submit" class="submit" value="Создать аккаунт">Создать аккаунт</button>
	<div class="registration_links">
		<small class="password_reset">
			<div>Уже зарегистрированы?</div>
			<a href="{% url 'login' %}"><div>Войдите</div></a>
		</small>
	</div>   
  </div>
</form>
{% endblock %}
          <div class=
