{% load static %}
{% load widget_tweaks %}
{% load form_tags %}


{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}


{% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}

    <div class="input-group mb-2">
      {% if 'Имя пользователя:' in field.label_tag %}
        <span class="input-group-addon"><i class=""><img draggable="false" src="/static/registration/origin/res/log.png"></i></span>
      {% endif %}
      {% if 'Email:' in field.label_tag %}
         <span class="input-group-addon"><i class=""><img draggable="false" src="/static/registration/origin/res/email.png"></i></span>
      {% endif %}
      {% if 'Пароль:' in field.label_tag or 'Подтверждение пароля:' in field.label_tag or 'Старый пароль:' in field.label_tag or 'Новый пароль:' in field.label_tag or 'Подтверждение нового пароля:' in field.label_tag %}
         <span class="input-group-addon"><i class=""><img draggable="false" src="/static/registration/origin/res/psw.png"></i></span>
      {% endif %}

        {% render_field field class=field|input_class %}
    </div>

    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}
