{% extends 'registration/BASE_registration.html' %}

{% block title %}Изменить пароль{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Изменить пароль</a></li>
  <li class="breadcrumb-item active">Удачно</li>
{% endblock %}

{% block changepassword %}
  <div class="alert alert-success" role="alert">
    <strong></strong> Ваш пароль был изменен.
  </div>
  <a href="{% url 'root' %}" class="btn btn-secondary">Вернуться на главную</a>
{% endblock %}
