{% extends 'registration\BASE_registration.html' %}

{% block title %}Сбросить пароль{% endblock %}

{% block registration %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Сбросить пароль</h3>
          <p>Проверьте вашу почту, вам была выслана ссылка для смены пароля.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Авторизоваться</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
