{% load template_filters %}

{% spaceless %}
{% check_url_permission 'aside_left_menu_includes' 'has_menu_perm' menu_type item.id request.user.id as has_menu_perm %}
{% if has_menu_perm %}
<div class="divider"></div>

<div class="item-group">
    <a href="#" class="items-header">
    	{% if menu_type == "settings" %}
        <svg viewBox="0 0 24 24">
            <g>
                <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.1-1.65c.2-.15.25-.42.13-.64l-2-3.46c-.12-.22-.4-.3-.6-.22l-2.5 1c-.52-.4-1.08-.73-1.7-.98l-.37-2.65c-.06-.24-.27-.42-.5-.42h-4c-.27 0-.48.18-.5.42l-.4 2.65c-.6.25-1.17.6-1.7.98l-2.48-1c-.23-.1-.5 0-.6.22l-2 3.46c-.14.22-.08.5.1.64l2.12 1.65c-.04.32-.07.65-.07.98s.02.66.06.98l-2.1 1.65c-.2.15-.25.42-.13.64l2 3.46c.12.22.4.3.6.22l2.5-1c.52.4 1.08.73 1.7.98l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.6-.25 1.17-.6 1.7-.98l2.48 1c.23.1.5 0 .6-.22l2-3.46c.13-.22.08-.5-.1-.64l-2.12-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path>
            </g>
        </svg>
        <span>Настройки</span>
        {% endif %}
    	{% if menu_type == "dashboards" %}
	        <svg viewBox="0 0 24 24">
	            <g>
	                <path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"></path>
	            </g>
	        </svg>
	        <span>Дашборды</span>
        {% endif %}
    </a>
    <div class="items-frame">
        <div class="items">
		{% for item in menu_items %}
		{% check_url_permission 'aside_left_menu_includes' 'has_item_perm' menu_type item.id request.user.id as has_item_perm %}
		{% if has_item_perm %}
		<a {% if item.href == '#' %}{% else %}href="
		{% if item.render_app_name == None %}{{item.href}}{% else %}/{{item.render_app_name}}/render_view/{{item.id}}/{% endif %}"{% endif %} class="{{item.menu_level}}"><div class="row"><i class="fas fa-folder fa-localy {{item.menu_icon_type}}"></i><span>{{item.name}}</span></div></a>
		{% endif %}
		{% endfor %}
    	</div>
    </div>
</div>
{% endif %}
{% endspaceless %}
