{% spaceless %}
<div class="form_frame" id="{% for item in form %}{% if forloop.first %}{{item.label}}{% endif %}{% endfor %}">
    <form action="" method="post">
        {{ form_media }}
        {% csrf_token %}
        <div id='form-app'>
            <fieldset>
            {% for item_1 in form %}
                {% if item_1.label == 'ContentpublicationsForm' %}
                <legend>публикация дашбордов</legend>      
                    <div class="items-container">
                    {% for item_2 in form %}
                        {{item_2}}
                    {% endfor %}
                    </div>
                <input type="submit" {%if brand_color %}style="background-color: {{brand_color}};"{% endif %} value="Сохранить">
                {% endif %}
                {% if item_1.label == 'UserZsAdminForm' %}
                <legend>доступ</legend>   
                    <div class="items-container">
                    {% for item_2 in form.visible_fields %}
                        <div class="form-items-group">
                            {% if item_2.label == 'UserZsAdminForm' %}
                            {{item_2}}
                            {% else %}
                            {{item_2}}
                            <label class="form-item-label" for="{{item_2.name}}">{{item_2.label}}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                <input type="submit" {%if brand_color %}style="background-color: {{brand_color}};"{% endif %} value="Сохранить">
                {{form.onchange_the_user}}
                {% endif %}
            {% endfor %}
            </fieldset>
        </div>
    </form>
</div>
{% endspaceless %}
