.container-main {
    background-image: none !important;
}

.container-main,
.breadcrumb > ul > li,
.breadcrumb > ul > li:last-child {
    background-color: #fff;
}

#app .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app .main_text_header { 
    font-size: 4vmin;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #ffffffe0;
    position: absolute;
    margin-top: -6vh;
    text-align: center;
    text-shadow: 2px 2px 2px #c7c7c7, -2px -2px 2px #c7c7c7, 2px -2px 2px #c7c7c7, -2px 2px 2px #c7c7c7, 4px 4px 4px #c7c7c7, -4px -4px 4px #c7c7c7, 4px -4px 4px #c7c7c7, -4px 4px 4px #c7c7c7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app .main_theme {
    background-image: url(/static/app_zs_admin/origin/res/img/zs_admin_app_settings.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 66%;
    height: 66%;
    justify-content: center;
    display: flex;
}

.shadows {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 150px;
    transition: all 0.25s ease-out;
}

.shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}


/*MEDIA ================================================================== */


/*< -- -- -- Media -- -- -->*/

/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 480px) and (max-width: 768px) {

}

@media all and (max-width: 480px) {
}


/* Portrait */
@media screen and (orientation:portrait) { 
    /* Portrait styles here */ 

}
/* Landscape */
@media screen and (orientation:landscape) and (max-device-height: 500px) { 
    /* Landscape styles here */ 
    
}
@media screen and (orientation:landscape) { 
    /* Landscape styles here */ 
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

}
